%footer
  .container
    .col-sm-3
      %p
        &copy; 2015
        %a(href="http://www.mediamonitoringafrica.org") Media Monitoring Africa
      %p
        %a(href="mailto:dexter@mma.org.za") dexter@mma.org.za

    .col-sm-3
      %a(href="http://www.mediamonitoringafrica.org/", target="_blank")
        %img.logo(src="/public/images/mma-logo.png")

    .col-sm-6.text-right
      %a(href="http://www.code4sa.org/", target="_blank")
        %img.logo(src="/public/images/code4sa-logo-small.png")

      %a(href="http://www.alchemyapi.com/", target="_blank")
        %img.logo.partner(src="/public/images/alchemyapi-logo.png")

      %a(href="http://www.opencalais.com/", target="_blank")
        %img.logo.partner(src="/public/images/calais-logo.jpg")
