%%inherit(file="layout.haml")

%%block(name="extra_header_tags")
  - for url in webassets('maps-css'):
    %link(rel="stylesheet", href=url)

%%block(name='extra_javascript')
  - for url in webassets('documents'):
    %script(src=url)

#image-holder(style="width: 600px; height: 600px;")
