%%inherit(file="layout.haml")

%table.table.table-striped.table-condensed
  - for doc in documents:
    %tr
      %td
        %a(href=url_for('show_article', id=doc.id))&= doc.title
      %td&= doc.published_at.strftime('%Y-%m-%d')
