%%inherit(file="layout.haml")


.row
  .col-md-7
    %h1 MMA-Dexter
    %p.lead
      Navigate media reports relating to people/organizations of interest.

    %p
      Give a short explanation of the application here. Lorem ipsum dolor sit amet, habeo iisque an sit, vix cu justo tollit nostrum, quo at adolescens dissentiet. Ad choro pertinax incorrupte quo, vero augue duo ei, mei dissentias necessitatibus ex. Duo probo erroribus ad. Quo mucius saperet no, cum ne graeco regione dissentiet, diam fastidii deleniti mei ei.
    %p
      Quod paulo consequuntur pro ad, legimus ceteros ex nam, an his aeterno utroque consulatu. Molestie legendos mediocrem duo ne, nominavi percipit constituam te quo, aliquid ornatus ea vel. Inermis invenire appellantur ius id, in his prima consequat. Vix quot vidit melius ut, est ea detracto petentium liberavisse.


  .col-md-5
    .well
      %h4 Index overview
      %p
        Documents added to the index:
        %span.badge.pull-right&=document_count
      - if document_count > 0:
        %p
          People identified:
          %span.badge.pull-right
            &=group_counts.get('person')

        %p
          Companies & organisations:
          %span.badge.pull-right
            &=group_counts.get('company') + group_counts.get('organization')

      %h4 Top sources
      - for medium_name, medium_count in medium_counts:
        %p
          &= str(medium_name)
          %span.badge.pull-right
            &= medium_count

      %h4 Publication dates
      %p Most recent:
        %strong.pull-right&=latest
      %p Earliest:
        %strong.pull-right&=earliest