!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(httpEquiv="X-UA-Compatible", content="IE=edge,chrome=1")
    %title
      %%block(name="title")
      \- Dexter
    %meta(name='csrf-param', value='csrf_token')
    %meta(name='csrf-token', value=csrf_token())
    %meta(name="viewport", content="width=device-width, initial-scale=1.0")
    - for url in webassets('css'):
      %link(rel="stylesheet", href=url)

  %body
    %header
      .navbar.navbar-default
        .container
          .navbar-header
            %a.navbar-brand(href="/")
              Dexter

          .navbar-nav.navbar-right.navbar-btn
            .btn-group
              %a.btn.btn-default(href=url_for('new_article'))
                %i.fa.fa-plus
                Add article
              %button.btn.btn-default.dropdown-toggle(type="button", dataToggle='dropdown')
                %span.caret
              %ul.dropdown-menu
                %li
                  %a(href='javascript:window.location="https://mma-dexter.code4sa.org/articles/new?url="+encodeURIComponent(window.location);', title='Drag this bookmarklet into the Bookmarks toolbar') Add to Dexter

    .container
      -# show flash messages
      - for category, message in (get_flashed_messages(with_categories=True) or []):
        - category = 'info' if category == 'message' else category
        - category = 'danger' if category == 'error' else category
        %p.alert(class_="alert-" + category)
          &= message

      ${next.body()}

    %footer
      .container
        %a(href="http://www.code4sa.org/", target="_blank")
          %img(src="/public/images/code4sa-logo-small.png")

    - for url in webassets('js'):
      %script(src=url)
