%%def(name="paginator(endpoint, pagination, **kwargs)")
  %ul.pagination
    - for page in pagination.iter_pages():
      - if page:
        - if page != pagination.page:
          %li
            %a(href=url_for('activity', page=page, **kwargs))&= page
        - else:
          %li.active
            %a(href=url_for('activity', page=page, **kwargs))&= page
      - else:
        %li.disabled
          %a(href="#") ...
