.modal-dialog
  .modal-content
    .modal-header
      %h4.modal-title
        Replace
        &= person.name

    .modal-body
      %p.lead
        Who is the
        %strong real
        ${person.name|h}?

      %p.alert.alert-danger
        All articles for ${person.name|h} will be moved to the new person, and the old ${person.name|h} will be deleted.
        %strong This cannot be undone!

      %section
        .row
          .col-sm-7
            Choose a person below to replace ${person.name|h}.
          .col-sm-5
            %input.form-control(type="text", name="search", placeholder="Or search for someone", autocomplete='off')

      %ul.suggestions.list-unstyled

      .clearfix

    .modal-footer
      %a.btn.btn-default(dataDismiss='modal') Cancel
