%%inherit(file="../layout.haml")
%%block(name="title")
  &= entity.name + " (" + entity.group + ")"

#show-document
  %article
    %section.heading
      %h2&= entity.name
      .byline
        - if entity.updated_at:
          %span.timestamp&= "Last updated: " + entity.updated_at.strftime('%Y-%m-%d')

    %section.tabs
      .row
        %ul.list-unstyled
          - for doc in documents:
            %li.list-item-document
              %i.fa.fa-chevron-right
              &=doc.published_at.strftime('%e %B %Y') + ' - '
              %a(href= url_for('show_article', id=doc.id))
                %strong&= doc.title
              %span.pull-right
                %span.label.label-primary.pull-right&=doc.medium.name
              - for utterance in doc.utterances:
                - if utterance.entity_id == entity.id:
                  %li.list-item-utterance
                    %blockquote
                      %em&=utterance.quote
