#charts {
  .chart {
    height: 200px;
  }

  .chart.chart-created,
  .chart.chart-published {
    height: 150px;
  }

  .chart.chart-users {
    height: 250px;
  }

  .chart.chart-problems {
    height: 100px;
  }

  .chart.chart-media {
    height: 600px;
  }
}
