#charts {
  .chart {
    height: 200px;
  }

  .chart.chart-created,
  .chart.chart-published {
    height: 150px;
  }

  .chart.chart-users {
    height: 250px;
  }

  .chart.chart-problems {
    height: auto;

    h3, h4 {
      margin: 0px;
    }

    .problem {
      float: left;
      width: 50%;
      margin-bottom: 20px;
      padding-right: 5px;
      display: inline-block;
    }
  }
  .chart.chart-fairness {
    height: 100px;
  }

  .chart.chart-media {
    height: 630px;
  }
}
