.heading {
  margin-bottom: 30px;
}

#new-document {
  form {
    margin: 20px 0px 30px;
  }
}

table.entities {
  tr.quotation {
    td { padding-left: 20px; }
  }
}

.list-item-document{
    padding-top: 10px;
}

.list-item-utterance blockquote{
  margin-bottom: 5px;
  margin-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

footer{
    height: 100px;
}

.tiny-logo{
    float: right;
    margin-left: 25px;
    margin-right: 25px;
}

#copyright{
    padding-top: 10px;
}