.navbar-btn {
  margin-left: 10px;
}

#new-document {
  form {
    margin: 20px 0px 30px;

    .url {
      display: none;
    }
  }
}

section {
  margin-bottom: 20px;
}

form#edit-person {
  .gender-race-controls {
    display: none;

    .buttons {
      margin-top: 23px;
    }
  }

  .aliases-controls {
    display: none;

    ul label {
      font-weight: normal;
    }

    .buttons {
      margin-top: 23px;
    }
  }
}

.document-container {
  .heading {
    margin-bottom: 10px;
    h2 {
      border-bottom: 1px solid #ddd;
      padding-bottom: 5px;
    }
  }

  .article-summary {
    margin-top: 10px;
  }

  .article-text {
    height: 650px;
    border: 1px solid #ddd;
    padding: 10px;
    overflow-y: auto;

    &.affix {
      top: 20px;
    }
  }

  .edit-analysis {
    .panel.analysis {
      box-shadow: 0 0 7px #428bca;
    }
  }

  .issues {
    .label {
      font-weight: normal;
      font-size: inherit;
    }
  }
}

table.sources {
  tr.quotation {
    td { padding-left: 25px; }
  }

  .btn.delete, .btn.undo-delete {
    padding: 0px;
  }

  .template {
    display: none;
  }

  .unnamed-details {
    display: none
  }

  .btn.undo-delete {
    display: none;
  }

  .source-details {
    margin-left: 20px;
  }

  .quoted {
    margin-top: 30px;
  }

  .function {
    word-break: break-all;
  }

  tr.deleted {
    td {
      background-color: #f2dede;
      text-decoration: line-through;
      .btn.delete { display: none; }
      .btn.undo-delete { display: inline-block; text-decoration: none }
    }
  }

  tr.new {
    td {
      background-color: #faebcc;
    }
  }
}

table.fairness {
  .template {
    .btn.delete, select.chosen-select-delayed {
      display: none;
    }
  }

  .btn.delete, .btn.undo-delete {
    padding: 0px;
  }

  .btn.undo-delete {
    display: none;
  }

  tr.deleted {
    td {
      background-color: #f2dede;
      text-decoration: line-through;
      .btn.delete { display: none; }
      .btn.undo-delete { display: inline-block; text-decoration: none }
    }
  }
}

/* typeahead styling */
.twitter-typeahead {
  width: 100%;

  .tt-dropdown-menu {
    width: 100%;
    padding: 6px 0px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: white;

    .tt-suggestion {
      padding: 3px 20px 0px;
    }

    .tt-cursor {
      background-color: #428bca;
      color: white;
    }
  }
}

.list-item-document{
  padding-top: 10px;
}

.list-item-utterance blockquote{
  margin-bottom: 5px;
  margin-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* override bootstrap's small labels */
.label.label-lg {
  font-size: 100%;
  font-weight: normal;
}

.tiny-logo{
  float: right;
  margin-left: 25px;
  margin-right: 25px;
}

#copyright{
  padding-top: 10px;
}

#index-overview{
  margin-top: 35px;
}

#index-overview p{
  margin-left: 10px;
}

.activity-list {
  section {
    margin-bottom: 30px;
  }

  table.activity-list {
    td.user {width: 16%}
    td.title {width: 50%}
    td.published_at {width: 16%}
    td.published_at {width: 16%}
    td.medium {width: 16%}
  }
}

footer {
  border-top: 1px solid #ddd;
  margin-top: 40px;
  padding: 20px 10px;
}

@media (min-width: 768px) {
  .document-container {
    .article-text.affix {
      width: 283px;
    }
  }
}

@media (min-width: 992px) {
  .document-container {
    .article-text.affix {
      width: 374px;
    }
  }
}

@media (min-width: 1200px) {
  .document-container {
    .article-text.affix {
      width: 458px;
    }
  }
}

.checkbox-multi-select label{
  font-weight: normal;
  left: 15px;
  position: relative;
  cursor: pointer;
}

.checkbox-multi-select input{
  position: absolute;
  left: -5px;
  top: 2px;
}

.checkbox-multi-select .checkbox-container{
  position: relative;
  min-height: 20px;
  overflow: show;
}
