%%inherit(file="../layout.haml")
%%namespace(file="../paginator.haml", **{'import': '*'})
%%namespace(file="../bootstrap_wtf.haml", **{'import': '*'})

%%block(name='title')
  Recently added articles

%article#activity
  %h3 Recently added articles

.row
  .col-sm-9
    %article
      %%include(file='activity_list.haml')
      = paginator('activity', paged_docs, user_id=form.user_id.data, medium_id=form.medium_id.data, document_type_id=form.document_type_id.data)

  .col-sm-3
    %form.activity-refine(action=url_for('activity'), method='GET')

      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Refine

        .panel-body
          = vertical_field(form.user_id)
          = vertical_field(form.medium_id)
          = vertical_field(form.document_type_id)

        .panel-footer
          %input.btn.btn-success(type='Submit', value='Update')

