.activity-list
  - for date, group in doc_groups:
    %section
      %h4
        &= date.strftime('%e %B %Y')
        %span.badge.badge-default&= len(group)

      %table.table.table-striped.table-condensed.activity-list
        - for doc in group:
          %tr
            %td.user
              - if doc.created_by:
                &= doc.created_by.short_name()

            %td
              - warnings = doc.analysis_warnings()
              - if warnings:
                %i.text-danger.fa.fa-warning(title=' '.join([w.long_desc for w in warnings]))
              - elif doc.checked_by:
                %i.fa.fa-check-circle(title='Checked by %s' % doc.checked_by.short_name())

            %td.title
              %a(href=url_for('show_article', id=doc.id))
                %strong&= doc.title
            %td.published_at
              &=doc.published_at.strftime('%e %B %Y')
            %td.medium
              %span.label.label-default&=doc.medium.name
