.activity-list
  - for date, group in doc_groups:
    %section
      %h4
        &= date.strftime('%e %B %Y')
        %span.badge.badge-default&= len(group)

      %table.table.table-striped.table-condensed.activity-list
        %tr
          %th
          %th.user Added by
          %th
          %th.title Title
          %th.published_at Published on
          %th.wordcount Words
          %th.medium Medium

        - for doc in group:
          %tr
            %td
              %i.fa(class_=doc.analysis_nature.icon(), title='%s analysis' % doc.analysis_nature.name)

            %td.user
              - if doc.created_by:
                &= doc.created_by.short_name()

            %td
              - problems = doc.analysis_problems()
              - if problems:
                %i.text-danger.fa.fa-warning(title=' '.join([p.long_desc for p in problems]))
              - elif doc.checked_by:
                %i.fa.fa-check-circle(title='Checked by %s' % doc.checked_by.short_name())

            %td.title
              %a(href=url_for('show_article', id=doc.id))
                %strong&= doc.title or '(none)'
              - if doc.flagged:
                %i.article-flag.fa.fa-flag.flag-set(title=doc.notes or 'Article has been flagged')
            %td.published_at
              &=doc.published_at.strftime('%e %B %Y')
            %td.wordcount
              %span(title='words')
                - if doc.text:
                  &=doc.text.count(' ') + 1
                - else:
                  0
            %td.medium
              %span.label.label-default&=doc.medium.name
