%%inherit(file="layout.haml")
%%namespace(file="../helpers/paginator.haml", **{'import': '*'})

%%block(name='title')
  Recently added articles

%%block(name="extra_header_tags")
  - for url in webassets('maps-css'):
    %link(rel="stylesheet", href=url)

%section
  %h3
    &= pagination.total
    Article${'' if pagination.total == 1 else 's'}
    - if form.user():
      added by ${form.user().short_name()|h}

%section#charts
  .row
    .col-sm-4
      .panel.panel-default
        .panel-heading
          %h4.panel-title Media
        .panel-body
          .chart.chart-media
            Loading...

    .col-sm-4
      .panel.panel-default
        .panel-heading
          %h4.panel-title Publication date
        .panel-body
          .chart.chart-published
            Loading...

      .panel.panel-default
        .panel-heading
          %h4.panel-title Date added
        .panel-body
          .chart.chart-created
            Loading...

      .panel.panel-default
        .panel-heading
          %h4.panel-title Users
        .panel-body
          .chart.chart-users
            Loading...

    .col-sm-4
      .panel.panel-default
        .panel-heading
          %h4.panel-title Article problems
        .panel-body
          .chart.chart-problems
            Loading...

      .panel.panel-default
        .panel-heading
          %h4.panel-title Markers
        .panel-body
          .chart.chart-markers
            Loading...

      .panel.panel-default
        .panel-heading
          %h4.panel-title Countries
        .panel-body
          .chart.chart-countries
            Loading...

      .panel.panel-default
        .panel-heading
          %h4.panel-title Fairness
        .panel-body
          .chart.chart-fairness
            Loading...

%section
  %%include(file='activity_list.haml')
  - args = request.args.to_dict(True)
  = paginator('activity', pagination, **args)
