%%inherit(file="../layout.haml")
%%namespace(file="../paginator.haml", **{'import': '*'})
%%namespace(file="../bootstrap_wtf.haml", **{'import': '*'})

%%block(name='title')
  Coverage map

%%block(name="extra_header_tags")
  - for url in webassets('maps-css'):
    %link(rel="stylesheet", href=url)


%%block(name='extra_javascript')
  - for url in webassets('coveragemap'):
    %script(src=url)


%article#activity
  %h3
    &= paged_docs.total
    Article${'' if paged_docs.total == 1 else 's'}
    - if form.user():
      added by ${form.user().short_name()|h}

  .row
    .col-sm-9
      #tab-map.tab-pane
        #slippy-map

    .col-sm-3
      %form.activity-refine(action=url_for('coverage_map'), method='GET')

        .panel.panel-default
          .panel-heading
            %h3.panel-title
              Refine

          .panel-body
            = vertical_field(form.medium_id, class_='select2')
            .form-group
              = form.published_at.label()
              .input-group
                = form.published_at(class_='form-control use-daterangepicker')
                %span.input-group-btn
                  %button.btn.btn-default(dataClear='input-group')
                    %i.fa.fa-times

          .panel-footer
            %input.btn.btn-success(type='Submit', value='Update')
