%%inherit(file="../layout.haml")
%%block(name='title')
  Monitor Dashboard

%section
  %h2
    Hi
    &= current_user.first_name or current_user.email

%section
  %h3
    Your recently added articles
    %a(href=url_for('activity')) view all &rarr;

  %%include(file='activity_list.haml')

  %p
    %a(href=url_for('activity', user_id=current_user.id)) All recently added articles &rarr;

