%%inherit(file="layout.haml")
%%namespace(file="helpers.haml", **{'import': '*'})

%%block(name='title')
  Taxonomies

%section
  %h3 Taxonomies

  - if taxonomies:
    .row
      .col-sm-6
        %table.table.table-striped.table-condensed.taxonomies
          - top = taxonomies[0][1]
          - for label, freq in taxonomies:
            %tr
              %td&= label
              %td.bar-col
                .bar(style="width: %s%%" % (freq * 100.0 / top))
              %td&= freq
  - else:
    %i None
