%%inherit(file="layout.haml")
%%namespace(file="helpers.haml", **{'import': '*'})

%%block(name='title')
  Taxonomies

%section
  %h3 Taxonomies

  %table.table.table-striped.table-condensed.taxonomies
    - for label, freq in taxonomies:
      %tr
        %td
          - if '/' in label:
            &= u' ❯ '.join(label.split('/')[1:])
          - else:
            &= label
        %td&= freq
