%%inherit(file="layout.haml")
%%namespace(file="../helpers/trends.haml", **{'import': '*'})

%%block(name='title')
  Topics

.topics-container
  %h3 Crunching topics for ${len(form.document_ids())} articles, hang tight...

  .loading-indicator
    %i.fa.fa-spinner.fa-5x
