{% extends 'admin/model/list.html' %}

{% macro render_medium(model, column) %}
    <span class="label">{{ model.medium.name }}</span>
{% endmacro %}

{% macro render_document_title(model, column) %}
    <a href="{{ url_for('document.show_document', id=model.id) }}">{{ model.title }}</a>
{% endmacro %}

{% macro render_document(model, column) %}
    <a href="{{ url_for('document.show_document', id=model[column].id) }}">{{ model[column].title }}</a>
{% endmacro %}

{% macro render_entity_name(model, column) %}
    <a href="{{ url_for('show_entity', group=model.group, name=model.name) }}">{{ model.name }}</a>
{% endmacro %}

{% macro render_entity(model, column) %}
    <nobr>
        <a href="{{ url_for('show_entity', group=model[column].group, name=model[column].name) }}">
            {{ model[column].name }}
        </a>
    </nobr>
{% endmacro %}

{% macro render_date(model, column) %}
    <nobr>{{ model[column]|string|truncate(10, true, "") }}</nobr>
{% endmacro %}


{# Override table rows, to ensure that CSRF tokens are included. #}
{% block list_row_actions scoped %}
    {%- if admin_view.can_edit -%}
        <a class="icon" href="{{ url_for('.edit_view', id=get_pk_value(row), url=return_url) }}" title="Edit record">
            <i class="icon-pencil"></i>
        </a>
    {%- endif -%}
    {%- if admin_view.can_delete -%}
        <form class="icon" method="POST" action="{{ url_for('.delete_view', id=get_pk_value(row), url=return_url) }}">
            {% if csrf_token %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {% endif %}
            <button onclick="return confirm('{{ _gettext('You sure you want to delete this item?') }}');" title="Delete record">
                <i class="icon-trash"></i>
            </button>
        </form>
    {%- endif -%}
{% endblock %}
