{% extends 'admin/model/list.html' %}

{% macro render_medium(model, column) %}
    <span class="label">{{ model.medium.name }}</span>
{% endmacro %}

{% macro render_document_title(model, column) %}
    <a href="{{ url_for('document.show_document', id=model.id) }}">{{ model.title }}</a>
{% endmacro %}

{% macro render_document(model, column) %}
    <a href="{{ url_for('document.show_document', id=model[column].id) }}">{{ model[column].title }}</a>
{% endmacro %}

{% macro render_entity_name(model, column) %}
    <a href="{{ url_for('entity.show_entity', group=model.group, entity_name=model.name) }}">{{ model.name }}</a>
{% endmacro %}

{% macro render_entity(model, column) %}
    <nobr>
        <a href="{{ url_for('entity.show_entity', group=model[column].group, entity_name=model[column].name) }}">
            {{ model[column].name }}
        </a>
    </nobr>
{% endmacro %}

{% macro render_date(model, column) %}
    <nobr>{{ model[column]|string|truncate(10, true, "") }}</nobr>
{% endmacro %}