{% extends 'admin/model/list.html' %}

{% macro render_medium(model, column) %}
    <span class="label">{{ model.medium.name }}</span>
{% endmacro %}

{% macro render_document_title(model, column) %}
    <a href="{{ url_for('show_article', id=model.id) }}">{{ model.title }}</a>
{% endmacro %}

{% macro render_entity_name(model, column) %}
    <a href="{{ url_for('show_entity', group=model.group, name=model.name) }}">{{ model.name }}</a>
{% endmacro %}

{% macro render_date(model, column) %}
    <nobr>{{ model[column]|string|truncate(10, true, "") }}</nobr>
{% endmacro %}