{% extends 'admin/master.html' %}
{% block body %}
    {{ super() }}
    <div class="row-fluid">

        <div>
            <h1>MMA-Dexter</h1>
            <p class="lead">
                Navigate media reports relating to people/organizations of interest.
            </p>
            <p>A total of <strong>{{ document_count }} Documents</strong> have been added to the index, spanning publication dates from <strong>{{ date_from.strftime('%B %Y') }} to {{ date_to.strftime('%B %Y') }}</strong>.</p>
            <p>
                To-do: Give a short explanation of the application, and some links/buttons for getting started.
            </p>
        </div>

    </div>
{% endblock body %}