%%namespace(file="../helpers/bootstrap_wtf.haml", **{'import': '*'})

%form.mine(action=url_for('mine_home'), method='GET')
  = form.medium_id()

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        What would you like to explore?

    .panel-body
      .row
        .col-sm-3
          .form-group
            = form.published_at.label()
            .input-group
              = form.published_at(class_='form-control use-daterangepicker')
              %span.input-group-btn
                %button.btn.btn-default(dataClear='input-group')
                  %i.fa.fa-times

        -#.col-sm-3
          -# need to inject the name of the person for the select2 field
          -# to setup correctly
          -#- person = form.source_person()
          -#- kwargs = {'data-text': person and person.name or ''}
          -#= vertical_field(form.source_person_id, **kwargs)
      .row
        .col-sm-3.col-sm-offset-9.buttons
          %input.btn.btn-success.form-control(type='submit', value='Explore', dataDisableWith='Working...')
