%%namespace(file="../helpers/bootstrap_wtf.haml", **{'import': '*'})

- from datetime import date, timedelta

.dates
  .list-group
    - for option in form.period:
      %a.list-group-item(href=url_for('mine_home', medium_id=form.medium_id.data, period=option.data), class_='active' if option.checked else '')
        %h5.list-group-item-heading Last ${option.data} days
        %p.list-group-item-text
          = (date.today() - timedelta(days=int(option.data))).strftime('%d %b')
          to
          = form.yesterday.strftime('%d %b')
