%%namespace(file="../dashboard/helpers.haml", **{'import': '*'})

- from dexter.utils import slice

%section.media
  .row.medium.all(class_='active' if not form.medium else '')
    .col-sm-3
      %a(href=url_for('mine_home', period=form.period.data, q=form.q.data)) All publications
    .col-sm-9
      .media-bar
        .bar(style="width: 100%")

  .row
    - for batch in slice(media_analyser.media, 2):
      .col-sm-6
        - for m in batch:
          .row.medium(class_='active' if form.medium == m.medium else '')
            .col-sm-5
              %a(href=url_for('mine_home', medium_id=m.medium.id, period=form.period.data, q=form.q.data))
                &= m.medium.name

            .col-sm-7
              .media-bar
                .bar(style="width: %s%%" % (max(2.0, m.normalised_count*100)))
