%%namespace(file="../dashboard/helpers.haml", **{'import': '*'})

- import itertools

%section.people
  .row
    .col-sm-6
      .people-table
        %h3 Top people speaking in the news

        %table.table.table-condensed.analysis
          %tr.person-filter
            %td
              %i.fa.fa-search
            %td
              %input.form-control.person-filter-box(type="hidden")
            %td
            %td
          - for i, source in enumerate(source_analyser.top_people):
            %%include(file="_source.haml", args="i=i, source=source")

    .col-sm-6
      .people-quotations
        - for i, source in enumerate(source_analyser.top_people):
          %%include(file="_quotations.haml", args="i=i, source=source")
