%%inherit(file="layout.haml")

%%block(name='title')
  Mine

%h2
  - if form.medium:
    &= form.medium.name
  - else:
    All publications

  %i.text-muted.fa.fa-spinner.fa-pulse.hidden

.row.pooh
  .col-sm-3
    %%include(file='_form.haml')

  .col-sm-9
    %%include(file='_media.haml')

%%include(file='_sources.haml')
