%%inherit(file="layout.haml")

%%block(name='title')
  Mine

.jumbotron
  %h2
    Dexter Mine
    %small Who's speaking in the South Africa media?

  %p
    We scan online media daily and see who's quoted and what they're saying.
    Sometimes we get it wrong, so always double check and
    %a(href="#", dataUvTrigger="contact") let us know
    if there's a problem.

%h3
  - if form.medium:
    &= form.medium.name
  - else:
    All publications

  %i.text-muted.fa.fa-spinner.fa-pulse.hidden

.row
  .col-sm-3
    %%include(file='_form.haml')

  .col-sm-9
    %%include(file='_media.haml')

%%include(file='_sources.haml')
