%%inherit(file="../layout.haml")
%%namespace(file="../helpers/bootstrap_wtf.haml", **{'import': '*'})
%%block(name="title")
  Forgot password

%form(action=url_for('security.forgot_password'), method='POST')
  = forgot_password_form.hidden_tag()

  .row
    .col-sm-offset-4.col-sm-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Forgot your password?

        .panel-body
          %p
            Enter your email below and we'll send you a link to reset your password.

          = vertical_field(forgot_password_form.email, required=True, autofocus=True)

        .panel-footer
          %input.btn.btn-success(type='submit', value='Reset password')
          %a.btn.btn-link(href=url_for('security.login')) Log in
