%%inherit(file="../layout.haml")
%%namespace(file="../helpers/bootstrap_wtf.haml", **{'import': '*'})
%%block(name="title")
  Reset your password

%form(action=url_for('security.reset_password', token=reset_password_token), method='POST')
  = reset_password_form.hidden_tag()

  .row
    .col-sm-offset-4.col-sm-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Reset your password

        .panel-body
          %p
            Please enter a new password.

          = vertical_field(reset_password_form.password, required=True, autofocus=True)
          = vertical_field(reset_password_form.password_confirm, required=True)

        .panel-footer
          %input.btn.btn-success(type='submit', value='Reset password')
