#places-tab.tab-pane
  %h4 Places

  #slippy-map

  %table.table.table-striped.table-condensed.offsets.entities
    - for p in document.places:
      %tr
        %td&= p.place.full_name
        %td&= p.relevance
