#keywords-tab.tab-pane
  %h4 Keywords
  %table.table.table-striped.table-condensed.offsets.entities
    - for kw in document.keywords:
      %tr(dataOffsets=kw.offset_list)
        %td&= kw.keyword
        %td&= kw.relevance

