#places-tab.tab-pane
  %h4 Places

  #slippy-map

  %table.table.table-striped.table-condensed.offsets.entities
    - for p in document.places:
      %tr(class_='text-muted' if not p.relevant else '', dataOffsets=p.offset_list)
        %td&= p.place.full_name
        %td&= p.relevance
