#places-tab.tab-pane
  %h4 Places

  #slippy-map

  %table.table.table-striped.table-condensed.offsets.entities
    - for p in document.places:
      %tr.geo-feature(dataOffsets=p.offset_list, dataGeoType=p.place.geo_type, dataGeoData=p.place.geo_data)
        %td&= p.place.full_name
        %td&= p.relevance
