%%page(args="editing")

.article-attachments
  .attachment-viewer
    #attachment-slippy

  - if editing or document.attachments:
    %ul.attachment-list.well
      - if not editing:
        %li
          .show-text.thumbnail
            %i.fa.fa-file-text.fa-2x
            Text

      - if document:
        - for attachment in document.attachments:
          %li
            %img.thumbnail.attachment(src=attachment.thumbnail_url, dataUrl=attachment.preview_url, dataSize=attachment.size_str())
            %a.download(href=attachment.download_url, target="_blank")
              %i.fa.fa-cloud-download

            - if editing:
              %input(type='hidden', name='attachments', value=attachment.id)
