%%inherit(file="../layout.haml")
%%namespace(file="../bootstrap_wtf.haml", **{'import': '*'})

%%block(name="title")
  Edit article -
  &= doc.title

#edit-document
  %article
    %section
      aoeu
