%%inherit(file="../layout.haml")
%%namespace(file="../bootstrap_wtf.haml", **{'import': '*'})

%%block(name="title")
  Edit article -
  &= doc.title

#edit-document
  .pull-right
    %a.btn.btn-default(href=url_for('show_article', id=doc.id)) Cancel

  %h2&= doc.title

  %form(action=url_for('edit_article', id=doc.id), method='POST')
    = form.csrf_token

    %%include(file='form.haml')

    %input.btn.btn-primary(type='submit', value='Save changes', dataDisableWith='Saving...')
    %a.btn.btn-default(href=url_for('show_article', id=doc.id)) Cancel
