%%inherit(file="../layout.haml")

%%block(name="extra_header_tags")
  - for url in webassets('maps-css'):
    %link(rel="stylesheet", href=url)

%%block(name='extra_javascript')
  - for url in webassets('documents'):
    %script(src=url)

%%block(name='pre_content')
  %section.fixed-header
    .container
      - if document.can_user_edit(current_user):
        .pull-right
          %a.btn.btn-default(href=url_for('edit_article', id=document.id))
            %i.fa.fa-pencil
            Edit article

      %h2&= document.title

%article.document-container.below-fixed-header
  .url
    %a(href=document.url, target='_blank')&= document.url

  %p#error-box.alert.alert-danger

  ${next.body()}
