%%inherit(file="../layout.haml")

%%block(name="extra_header_tags")
  - for url in webassets('maps-css'):
    %link(rel="stylesheet", href=url)

%%block(name='extra_javascript')
  - for url in webassets('documents'):
    %script(src=url)

%%block(name='pre_content')
  .fixed-header
    .container
      .row
        .col-sm-9
          %h3&= document.title
        - if document.can_user_edit(current_user):
          .col-sm-3.text-right
            %a.btn.btn-default(href=url_for('edit_article', id=document.id))
              %i.fa.fa-pencil
              Edit article

%article.document-container.below-fixed-header
  .url
    %a(href=document.url, target='_blank')&= document.url

  %p#error-box.alert.alert-danger

  ${next.body()}
