%%inherit(file="../layout.haml")

%article.document-container
  %section.heading
    .pull-right
      %a.btn.btn-default(href=url_for('edit_article', id=document.id))
        %i.fa.fa-pencil
        Edit article

    %h2&= document.title
    .row
      .col-sm-9
        .url
          %a(href=document.url, target='_blank')&= document.url
      .col-sm-3.text-right
        - if document.checked_by:
          %span.label.label-success.label-lg
            %i.fa.fa-check-circle
            Checked by
            &= document.checked_by.email

  ${next.body()}
