%%inherit(file="../layout.haml")
%%namespace(file="../bootstrap_wtf.haml", **{'import': '*'})

%%block(name="title")
  Add article

#new-document
  %article
    %section
      %h2 Add a new article

      %form.safedirty(action=url_for('new_article'), method='POST')
        = form.csrf_token

        %fieldset
          %legend By fetching a webpage

          .form-group
            = field_input(form.url, placeholder='URL', autofocus=True)
          %input.btn.btn-success(type='submit', value="Fetch and add article", dataDisableWith='Fetching...')

      %form(action=url_for('new_article'), method='POST')
        = form.csrf_token

        %fieldset
          %legend Or by typing it in

          %%include(file="form.haml")

          %input(type='hidden', name='manual', value='True')
          %input.btn.btn-success(type='submit', value='Add new article', dataDisableWith='Adding...')

