%%inherit(file="../layout.haml")
%%namespace(file="../bootstrap_wtf.haml", **{'import': '*'})

%%block(name="title")
  Add article

#new-document
  %article
    %section
      %h2 Add a new article

      %h3 By fetching a webpage

      %form.form-horizontal(action=request.route_path('new_article'), method='POST')
        = field(form.url, placeholder='URL')
        .row
          .col-sm-10.col-sm-offset-2
            %input.btn.btn-primary(type='submit', value="Fetch and add article")

      %h3 Or by typing it in
      %form.form-horizontal(action=request.route_path('new_article'), method='POST')
        = field(form.title, placeholder='Article headline')
        = field(form.url, placeholder='URL')
        = field(form.text, rows=15, placeholder='The text of the article')
        .row
          .col-sm-10.col-sm-offset-2
            %input.btn.btn-primary(type='submit', value='Add new article')

