%%inherit(file="../layout.haml")
%%block(name="title")
  &= document.title

#show-document
  %article
    %section.heading
      %h2&= document.title
      .url
        %a(href=document.url, target='_blank')&= document.url
      .timestamp&= document.published_at

    %section.tabs
      .row
        .col-sm-3
          %ul.nav.nav-pills.nav-stacked
            %li.active
              %a(href="#people-tab", dataToggle="tab") People
            %li
              %a(href="#orgs-tab", dataToggle="tab") Organisations

        .col-sm-9
          .tab-content
            #people-tab.tab-pane.active
              People

            #orgs-tab.tab-pane
              Organisations

